/*
    rohit StyleSheet
*/
*{
    margin:0;
    padding: 0;
    font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:var(--black);
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
:root
{
    --white:#ffffff;
    --light:#f8f9fa;
    --primary:#ffeeba;
    --secondary:#007bff;
    --dark:#6c757d;
    --black:#343a40;
}
::-webkit-scrollbar
{
    background: var(--light);
}
::-webkit-scrollbar-thumb
{
    background: var(--black);
}
::selection
{
    color:var(--white);
    background:var(--black);
}
::marker
{
    color:var(--secondary);
}
#main
{
    display: grid;
    grid-template-columns:3fr 1fr;
    max-width:1000px;
    margin:auto;
}
/*
    body css ---
*/
body
{
    background: var(--light);
}
/*
    aside css ---
*/
#aside
{
    position: sticky;
    top:0;
    width: 100%;
    height: 100vh;
    padding:2rem  0;
    background: var(--white);
}
#aside a
{
    display: block;
    padding: 1rem 2rem;
}
#aside a:hover
{
    opacity:0.6;
}
/*
    section css ---
*/
#section
{
    width: 100%;
}
#header
{
    position: sticky;
    top:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 2rem;
    background:var(--light);
}
#menu_button
{
    margin:0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: transparent;
}
#menu_button:hover
{
    opacity:0.5;
}
h2
{
    font-weight: bolder;
}
/*
    content css ---
*/
#content
{
    padding: 2rem 1rem;
}
h1,h3,h4,h5,h6
{
    padding: 1rem 0;
    font-weight: normal;
}
p
{
    padding: 1rem;
    color:var(--dark);
    letter-spacing: 1px;
    line-height: 1.5rem;
}
ul,ol
{
    padding: 1rem 2rem;
}
li
{
    line-height: 2rem;
}
a
{
    color:var(--secondary);
}
mark
{
    display:inline-block;
    background:var(--primary);
}
/*
    footer css ----
*/
#footer
{
    padding: 2rem;
    font-weight:normal;
    color:var(--black);
    border-top:1px solid var(--dark);
}
#footer a
{
    display:inline-block;
    font-weight:600;
}
/*
    responsive css ----
*/
@media screen and (max-width:600px)
{
    #main
    {
        grid-template-columns: 1fr !important;
    }
    #aside
    {
        width: 90%; 
        margin:auto;
        position: absolute;
        z-index: 100%;
        left:5%;
        top:10% !important;
    }
}
